* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  width: 100%;
  height: 100%;
  background-color: #2ecc71;
  color: #fff;
  transition: background-color 0.5s ease-in-out;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 1200px;
}

.quote-mark {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
}

.mark-right {
  position: relative;
  left: 98%;
}

blockquote {
  font-size: 5vw;
  font-style: italic;
  text-align: left;
  transition: 0.3s all ease-in-out;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

blockquote p {
  text-align: center;
}

.author {
  margin-top: 1em;
  font-weight: 300;
  margin-left: 1.5em;
  font-size: 2.5vw;
  margin-bottom: 2em;
}

.button-wrapper {
  text-align: center;
  position: fixed;
  bottom: 1%;
  left: 50%;
  transform: translateX(-50%)
}

.btn {
  margin: 0 5vw;
  background: none;
  color: #fff;
  font-size: bold;
  border: none;
  font-size: 5vw;
  cursor: pointer;
  transition: 0.3s all;
}

a {
  text-decoration: none;
}

.fa-twitter {
  transition: 0.3s all;
  font-size: 5vw;
}

.fa-twitter:hover {
  color: #1dcaff;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  color: #c3c3c3;
}

@media (max-width: 700px) {
  .btn,
  .fa-twitter {
    font-size: 15vw;
  }
  blockquote {
    font-size: 10vw;
    font-weight: 300;
  }
  .button-wrapper {
    width: 80%;
  }
  .author {
    font-size: 4vw;
    font-weight: 300;
  }
}