/* From big tablets to 1200px (widths smaller than 1140px row) */

@media only screen and (max-width: 1200px) {
  .modal-container {
    width: 70%;
  }
  #project-list {
    grid-template-columns: 1fr 1fr;
    width: 80%;
  }
  #project-list li:nth-of-type(5) {
    grid-column: 1/3;
  }
}

/* small table to big tablet: from 768px to 1023px */

@media only screen and (max-width: 1072px) {
  section {
    padding: 2rem 0;
  }
  nav {
    width: 100%;
    padding: 5%;
  }
  #hero-text-box {
    width: 100%;
  }
  #hero-text-box p {
    width: 100%;
    font-size: 1.5rem;
  }
  h1 {
    font-size: 5rem;
  }
  h2 {
    margin-bottom: 0.5em;
    padding: 0;
  }
  .long-copy {
    width: 90%;
    margin-left: 5%;
    text-align: center;
  }
  #contact-form {
    width: 80%;
  }
}

/* Smalls phones to small tablets: from 481 to 767px */

@media only screen and (max-width: 767px) {
  body {
    font-size: 18px
  }
  #hero-text-box {
    width: 100%;
  }
  #hero-text-box p {
    font-size: 1.2rem;
  }
  nav {
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin: 0;
  }
  .modal-description {
    width: 100%;
  }
  .modal-container {
    width: 90%;
  }
  .img-wrapper {
    width: 70%;
    margin-right: 15%;
  }
  .img-wrapper img {
    width: 100%;
  }
  #navigation li a:link,
  #navigation li a:visited {
    margin: 0 1.25em;
  }
  #navigation li a:link,
  #navigation li a:visited {
    width: 33%;
  }
  #logo {
    display: none;
  }
  h1 {
    font-size: 4rem;
  }
  h3 {
    font-size: 1.2rem;
  }
  #project-list {
    grid-template-columns: 1fr;
    height: 100%;
  }
  #project-list li:nth-of-type(5) {
    grid-column: 1;
  }

  .modal-link {
    width: 50%;
  }

  

  button {
    width: 80%;
  }
}

/* Small phones: from 0 to 480px */

@media only screen and (max-width: 568px) {
  body {
    font-size: 16px;
  }
  nav {
    padding: 0;
  }
  #navigation li a:link,
  #navigation li a:visited {
    font-size: 0.6rem;
  }
  .long-copy {
    text-align: left;
    font-size: 0.9rem;
  }
  .img-wrapper img {
    display: none;
  }
  .modal-container {
    width: 90%;
  }
  .modal-description,
  .btn-wrapper {
    padding: 1em;
  }
  h1 {
    font-size: 2.5rem;
  }
  #hero-text-box p {
    font-size: 1rem;
  }
  #hero-text-box a {
    font-size: 0.8rem;
  }
  .modal-description {
    width: 100%;
  }
  .img-wrapper {
    width: 50%;
    margin-right: 25%;
    padding: 0;
  }
}

@media only screen and (max-height: 400px) and (orientation: landscape) {
  #hero-text-box {
    position: relative;
    padding-bottom: 200px;
  }
  #hero-text-box h1 {
    margin: 10px;
    font-size: 10vw;
  }
  #hero-text-box .work-btn {
    font-size: 2vw;
  }
}